body{
    padding: 0%;
    margin: auto;
}
    .bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1{
    font-weight: bold;
    text-align: left;
}
button{
    text-align: left;
}
.image-container {
    display: flex;
}
image{
    text-align: right;
}
